<ul class="list-group p-1">
    <li class="list-group-item d-flex align-items-center shadow-sm justify-content-start" style="background-color: rgba(@Student.Timetable.SchoolGradeTable[WeekDay][Time].BackgroundColor);
        border-color: rgba(@Student.Timetable.SchoolGradeTable[WeekDay][Time].ForegroundColor); border-width: 2px;">
        <span class="badge text-dark p-2 me-2"
            style="background-color: rgba(@Student.Timetable.SchoolGradeTable[WeekDay][Time].ForegroundColor);">@Time</span>
        <span class="p-2 fs-4">@Student.Timetable.SchoolGradeTable[WeekDay][Time].Name</span>
    </li>
</ul>

@code {
    [Parameter] public StudentModel Student { get; set; }
    [Parameter] public DayOfWeek WeekDay { get; set; }
    [Parameter] public string Time { get; set; }
}